

li{
    display:inline;
    list-style-type:none;
    padding:10px;
    color:rgb(187, 125, 11);
    margin:10px;
    font-size:14px;




}
ul{
    float:right;
}
nav{
    background-color: black;
    height: 70px;
}
.A{
    background-image: url('travel-slider-01.jpg');
    width:100%;
    height:90vh;
    background-size:cover;
    padding-top:250px;
    padding-left:150px;
}
.xyz{
    padding-left:50px;
    padding-top:10px;




}
.Y{
    color:white;
    font-size:42px;
    font-style:initial;
    border:2px solid orange;
    width: 380px;
    height:200px;
   padding:20px;
   
   
   
}
.file{
    width:100%;
    display:flex;
    background-color: rgb(20, 20, 20);
}
.text{
    width:50%;
    padding:120px;
    /*color:rgb(161, 121, 46);*/
}
.image2{
    width:50%;




}
.image1{
    padding-left:120px;
    padding-top:15px;
}
h1{
    color:rgb(161, 121, 46);
    font-size:36px;




}
p{
    color:rgb(151, 151, 140);
    font-size:16px;
    font-style:
}
.link{
    border:2px solid rgb(134, 93, 17);
}
.image1{
    padding-top:10px;
    padding:10px;
    padding-left: 100px;
}
.row{
    width:100%;
    display:flex;
}
.coloum1{
    width:50%;


}
.coloum2{
    width:50%;
}
